<footer class="py-4 bg-light mt-auto">
	<div class="container-fluid px-4">
		<div class="d-flex align-items-center justify-content-between small">
			<div class="text-muted">Copyright &copy; Edith Bredon 2022</div>
			<div>
				<a href="https://edithbredon.fr">Portfolio</a>
				&middot;
				<a href="https://github.com/edithbdev">Github</a>
				&middot;
				<a href="https://www.linkedin.com/in/edithbredon">Linkedin</a>
			</div>
		</div>
	</div>
</footer></div></div></div>
