<footer class="py-2 bg-light fixed-bottom">
	<div class="container-fluid px-2">
		<div class="d-flex justify-content-between align-items-center">
			<div class="fs-7 d-none d-md-block">Désigné et développé par Edith Bredon - © 2023</div>
			<div>
				<a href="{{ path('homepage') }}" class="text-dark mx-1 fs-7">Accueil</a>
				
				<a href="{{ path('contacts_form') }}" class="text-dark mx-1 fs-7">Contact</a>
				
				<a href="https://edithbredon.fr" class="text-dark mx-1 fs-7" target="_blank" rel="noopener noreferrer">Portfolio</a>
			
				<a href="https://github.com/edithbdev" class="text-dark mx-1 fs-7" target="_blank" rel="noopener noreferrer">Github</a>
				
				<a href="https://www.linkedin.com/in/edithbredon" class="text-dark mx-1 fs-7" target="_blank" rel="noopener noreferrer">Linkedin</a>
			</div>
		</div>
	</div>
</footer>