<button class="btn btn-danger w-50" onclick="document.getElementById('confirm-delete').style.display='block'"> <i class="fa fa-trash" aria-hidden="true"></i></button>

<div id="confirm-delete" class="modalCustom">
  <span onclick="document.getElementById('confirm-delete').style.display='none'" class="close" title="Close Modal">×</span>
  <form method="post" class="modalCustom-content" action="{{ path('user_profil_delete', {'id': user.id}) }}">
  <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <div class="container-fluid">
      <h1>Delete your account</h1>
      <p>Are you sure want to delete your account  <strong>{{ user.name|default(user.username) }}</strong> ?</p>

      <div class="clearfix">
        <button type="button" onclick="document.getElementById('confirm-delete').style.display='none'" class="cancelbtn">Cancel</button>
      <button type="submit" onclick="document.getElementById('confirm-delete').style.display='none'" class="deletebtn">Delete</button>
      </div>
    </div>
  </form>
</div>
