{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent
{% endblock %}

{% block body %}
	<div id="layoutAuthentication">
		<div id="layoutAuthentication_content">
			<main>
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-5">
							<div class="card shadow-lg border-0 rounded-lg mt-5">
								<div class="card-header">
									<h3 class="text-center font-weight-light my-4">Password Reset Email Sent</h3>
								</div>
								<div class="card-body">
									<p>
										If an account matching your email exists, then an email was just sent that contains a link that you can use to reset your password.
										        This link will expire in
										{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
									</p>
									<p>If you don't receive an email please check your spam folder or
										<a href="{{ path('app_forgot_password_request') }}">try again</a>.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</main>
		</div>
	</div>
{% endblock %}
