<h1>Bonjour,
	{{ user.firstname }} {{ user.lastname }}!</h1>
<p>
Pour changer votre mot de passe, veuillez cliquer sur le lien ci-dessous.
	<br><br>
<a href="{{ url|raw }}">Changer mon mot de passe</a>
<p> Merci de ne pas répondre à ce message.
</p>

<p>
Cordialement,
</p>
