{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{# pour test : https://localhost:8000/_error/404 #}
{% extends 'base.html.twig' %}

{% block body %}
   <div id="layoutError">
            <div id="layoutError_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-6">
                                <div class="text-center mt-4">
                                    <img class="mb-4 img-error" src="/dist/assets/img/oups.png" />
                                    <p class="lead">This requested URL was not found on this server.</p>
                                    <a href="{{ path('home') }}">
                                        <i class="fa fa-arrow-left me-1"></i>
                                        Return to Dashboard
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
{% endblock %}
